In [1]:
%run data.ipynb

['https://ltafarecard.s3.ap-southeast-1.amazonaws.com/202409/origin_destination_bus_202409.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDwaDmFwLXNvdXRoZWFzdC0xIkcwRQIhAMmpK6qM%2FrGkpubmtJxAqtbwWwCdzov9jQPqH2i%2FYhoJAiBTCQfAOCqWhgU9koM1MraPn3J01Obn0YysZ8clgxk1IyrLBQil%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MDY0NTM4MTMwNCIMxsktxanYOshdJX2yKp8FOS%2BbE52%2F1yylJulOknK9y42KoviLtVDuhA2BYWERVcqIhBnGLtTAHLmytIe7qIm950NnQXOWkV5yfhnHr%2BLOz5%2BeJBr8%2BCLRZJ%2BLfds2VeNfo%2FRLvenFVwhFRSvyA25nBPzRnRyUzc%2BBi1G2juhL%2FFppECK7cmfIW1MyH5l5cfDZ1wRZ1PWKVbvJdKxmszh8Enk%2B9d1%2F1kFIJKH5DGdTPqK4RJXA6H7pOw4OO7pzmEjRc4DEdzzHwTBDv%2BxpyEdEiBCjHC6tS0QKPjB%2B7J2jxzkdZrT2hmXJYW%2Bi7ea2cmvBGRb34XMaQLjlex4VP5X9HMt67OLlmtLhWcPAyP%2FMm2rocddaBdfHZ%2FbfhsMKMQ7PGZu4RGGwOENy9OWSg7PqYsE5AZb8G%2Bw4IOlE%2FK%2FedFXL6FMXZwSdXIeK50A6v3%2BGeJABrD88AkboxAuDS2opSmz%2B5HVCVgegmPhko6hO80PHbDFIyDzu%2F9WznxM5hcZZ97YMql5hMeLIIOLuMpx%2FYA3uUPVwyShFkGgZf7Ul6g3gjesO26xcCrqPIWehcM7%2BbkxO0Ch5Nd0z%2BFDggod1RoAOUTfdtbJb7YxZUgVFEmT4CkY%2BmBLFh%2FYWJuvhicMPNSV01b3%2BABO3OjlwtPtrHKKGYGCF7YJml9KjDaByJmR%2FvBAXmk5FhUZOBCYohFKv1i0e1c7jOTGfeQOXMNvrETZhrZGbz19tJ2p3j8iLBZLtUyhKwaZJokfLJg9RE8uWqff1gYV7MRYvDdwoc66BgkbLppL9McAwA27NQLJNswxKFOvePj5EIOC2bILNsAA5NFLt1HFs1Re1BbPtRN61D3Pb8CxHpFvsSLiI6VGBDhtFpDGXuMPDV4LKzyPcGNgNSmNCxDd4Z17TvMYbs08w%2Ba7euAY6sQF45Dk7EYsL%2BpiXnqi%2Bve1SnE3G2EBekuCBDFE659cLf6CoPFpU%2BQdKAz0AW3eiT%2FBFp%2BIhckOcuJNxfT7P16AhbVsbzIOzMPLqkKuhvGKFZLjDPnNe81S8s3GmtS1iFVouD2t395hqzF11WEf9HNv28xC2BVRbBhw%2BdrXWJV1%2BoIDdRNMv6amzJNmEITOKqA0pV80%2FtWnvTT%2BFTBpMWinLXoJiBVlg0SGT3fVL%2BpDAiQ8%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241022T131930Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAU6UAMAS4ECVXFOLI%2F20241022%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Signature=ece62cb699ae0a29995d86f62ecb9023c9379dd8fb7298ad86fbf1cb07b4b719']
['https://ltafarecard.s3.ap-southeast-1.amazonaws.com/202409/origin_destination_train_202409.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDwaDmFwLXNvdXRoZWFzdC0xIkYwRAIgVX3lguEssR4gytyzugZgobr5%2FDzWiDvSGH31QfGLMH8CIF6V5Srs%2BvFqK%2BLar1fuB%2B9j2vPIQ1924r9Vy3awi4%2FWKssFCKX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQBBoMMzQwNjQ1MzgxMzA0Igy%2BjxWUV7unHRjZxskqnwWLBE2QziMbSKEn0ULpyzj1%2Ft3T37FuFvgqT4I1M9L9fMcCMBgosjY%2BAThez6TZ3TfbqsD6GWVeMeKi96alb6cwV50dUB6rkmzmoUvbJb5TWS9Qkq6Bu2fqm%2FFD41qBFQ3viIOXOQhJ%2FrgjjdrsrfOhq39PbR6PvlovD%2F5snOWZacbiJB3vVm70BJUcl21Jtc5SZGTiag%2BCLTxmpMr1zClsfYp6f5vjdbv%2Bs%2FfOoCN%2FP9RcI88yQcRUZUhfp32IWb9haSCUCSdX25G3%2BIQutQPdZ9wvj6987rSmjyoc0AB1UWc09pEiULnna7TWc%2BcR5lF%2FoY%2FvnGr3Dz7bjxfiQZ9201EAIPC61NTTRGe6DoI%2Fsu01iovPTnZxUtDH7a3E1qAkn%2FIH0RpzbAJmS0C2vl0R0SDS%2BlliorCyj87Sq77oYrwCOLWzrRQt1KMpJYbpakJHcm8JJW1%2F2gqW5d%2FtYG9IcLahGDs%2FJf%2BQLUWpyU9fou%2Blw3frvmbooPRrLpr297dKl3sUi7lPcuesnOyC9FxSV56%2FfU1xe%2FP8k6yNI1HbbwJLn1SBp2G%2F%2Fv0a7EcOBjaQtLcyPqOipYQ%2FDkBi7Ie5iDo9K31B2uSHHGcsVEadKqJakCEPPsiUSq7fm26iJpr%2Bfe9%2FvNprC%2FDFnbSauH9O9c%2BvM%2FD%2ByKePEzyyyMs7ZKKtzYNQiX1INoK7s%2Fnh1kMl1m1M48p3L6tc9HfMfi%2BvFovwMgr6wTCPiTUzQ%2BT6WQ32KNKyyNJVUmLskj97%2FACnjFcuKMExeaRZD8Rd0T1nLYbdJb5T66hhHGg3%2FTKUUr7S%2FkX4UFNaHzYI7pNa8gJz3cFdCoAoyO2IouhTHU5e%2BrNXgGV6ftRIlDax7rR9ITWy1BR4LQSTk8ZQevwz0jCOqd64BjqyAdLdo25hCl7otbxPob6vvNvSjwFSCBXDyLRZHF24278EpXZzjz7wEzWlrjdP5NyOBP3BqAEu7GtvVMQQzMpaxh8gwfDAvssLbBDr4fybLvk3SO5byP4p0XY29Dsfta215TeVZ175KGAscyR%2FsSZbJkmDTkRhHoelDSrOAt9MclwNoZbypjsqeEOtnQL%2Fd4JjFipPySD7z65%2FEDio5t%2BDsH124MdhyECUPwz%2FUvyBqkwWCPA%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241022T131933Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAU6UAMAS4FVF5YPSC%2F20241022%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Signature=506d8dbb0cf25e6d4b8964aced883c05535c54c45a21e6dc149ac49e24ec4a66']

In [2]:
# bus stops geodataframe
bus_stops_gdf = geopandas.GeoDataFrame(bus_stops, 
                                       geometry = geopandas.points_from_xy(bus_stops.Longitude, bus_stops.Latitude),
                                       crs = "EPSG:4326")
bus_stops_gdf

,BusStopCode,RoadName,Description,Latitude,Longitude,geometry
0,01012,Victoria St,Hotel Grand Pacific,1.296848,103.852536,POINT (103.85254 1.29685)
1,01013,Victoria St,St. Joseph's Ch,1.297710,103.853225,POINT (103.85322 1.29771)
2,01019,Victoria St,Bras Basah Cplx,1.296990,103.853022,POINT (103.85302 1.29699)
3,01029,Nth Bridge Rd,Opp Natl Lib,1.296673,103.854414,POINT (103.85441 1.29667)
4,01039,Nth Bridge Rd,Bugis Cube,1.298208,103.855491,POINT (103.85549 1.29821)
...,...,...,...,...,...,...
5133,99139,Changi Village Rd,Blk 5,1.388195,103.987234,POINT (103.98723 1.38819)
5134,99161,Nicoll Dr,Aft Changi Beach CP 3,1.390262,103.992957,POINT (103.99296 1.39026)
5135,99171,Nicoll Dr,Changi Beach CP 2,1.391128,103.991021,POINT (103.99102 1.39113)
5136,99181,Telok Paku Rd,Bef S'pore Aviation Ac,1.387754,103.988503,POINT (103.98850 1.38775)
5137,99189,Telok Paku Rd,S'pore Aviation Ac,1.388414,103.989716,POINT (103.98972 1.38841)

In [3]:
# bus routes geodataframe
bus_routes_gdf = geopandas.GeoDataFrame(bus_route_names, 
                                       geometry = geopandas.points_from_xy(bus_route_names.Longitude, bus_route_names.Latitude),
                                       crs = "EPSG:4326")
bus_routes_gdf

,ServiceNo,Operator,Direction,StopSequence,BusStopCode,Distance,WD_FirstBus,WD_LastBus,SAT_FirstBus,SAT_LastBus,SUN_FirstBus,SUN_LastBus,RoadName,Description,Latitude,Longitude,geometry
0,10,SBST,1,1,75009,0.0,0500,2300,0500,2300,0500,2300,Tampines Ctrl 1,Tampines Int,1.354076,103.943391,POINT (103.94339 1.35408)
1,10,SBST,1,2,76059,0.6,0502,2302,0502,2302,0502,2302,Tampines Ave 5,Opp Our Tampines Hub,1.352962,103.941652,POINT (103.94165 1.35296)
2,10,SBST,1,3,76069,1.1,0504,2304,0504,2304,0503,2304,Tampines Ave 5,Blk 147,1.348753,103.942086,POINT (103.94209 1.34875)
3,10,SBST,1,4,96289,2.3,0508,2308,0508,2309,0507,2308,Simei Ave,Changi General Hosp,1.340055,103.948381,POINT (103.94838 1.34005)
4,10,SBST,1,5,96109,2.7,0509,2310,0509,2311,0508,2309,Simei Ave,Opp Blk 3012,1.337371,103.950673,POINT (103.95067 1.33737)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25539,9B,SBST,1,25,95091,9.5,0741,0817,-,-,-,-,Nicoll Dr,SAF Ferry Ter,1.387214,103.999714,POINT (103.99971 1.38721)
25540,9B,SBST,1,26,95131,9.7,0742,0818,-,-,-,-,Airline Rd,Police Pass Off,1.385252,103.999834,POINT (103.99983 1.38525)
25541,9B,SBST,1,27,95141,10.2,0744,0820,-,-,-,-,Airline Rd,Aft Cargo Bldg D,1.381386,103.998191,POINT (103.99819 1.38139)
25542,9B,SBST,1,28,95061,10.6,0745,0821,-,-,-,-,Airline Rd,Airline Hse,1.377552,103.996539,POINT (103.99654 1.37755)
25543,9B,SBST,1,29,95051,11.0,0747,0823,-,-,-,-,Airline Rd,3rd Cargo Agents,1.375283,103.996196,POINT (103.99620 1.37528)

In [4]:
# train station exits geodataframe
train_station_exits_gdf = geopandas.read_file('/Users/jiyadutta/Desktop/DSA4264/TrainStationExit/Train_Station_Exit_Layer.shp')
train_station_exits_gdf

                       stn_name exit_code                     geometry
0        MACPHERSON MRT STATION    Exit A  POINT (34285.068 34322.985)
1        MACPHERSON MRT STATION    Exit B  POINT (34382.153 34231.904)
2        MACPHERSON MRT STATION    Exit C  POINT (34337.292 34190.603)
3          TONGKANG LRT STATION    Exit B  POINT (33872.145 41256.053)
4          TONGKANG LRT STATION    Exit A  POINT (33858.542 41234.065)
..                          ...       ...                          ...
588        BAYSHORE MRT STATION    Exit 2  POINT (39947.586 32720.398)
589        BAYSHORE MRT STATION    Exit 3  POINT (39952.869 32873.448)
590        BAYSHORE MRT STATION    Exit 4  POINT (40170.433 32868.859)
591        BAYSHORE MRT STATION    Exit 5  POINT (40160.253 32799.231)
592  TANJONG KATONG MRT STATION    Exit 3  POINT (35166.777 31398.349)

[593 rows x 3 columns]

In [5]:
bus_routes_gdf_3857 = bus_routes_gdf.to_crs(3857)
train_station_exits_gdf_3857 = train_station_exits_gdf.to_crs(3857)

nearest_train_station_output = []
for i, row in tqdm(bus_routes_gdf_3857.iterrows()):

    # Compute the distance from each bus stop to all train station exits
    distances = train_station_exits_gdf_3857.distance(row['geometry'])

    nearest_train_station_output.append({
        'Bus Service': row['ServiceNo'],
        'Route Direction': row['Direction'],
        'Bus Stop Code': row['BusStopCode'],
        'Description': row['Description'],
        'Nearest Train Station': train_station_exits_gdf_3857.loc[int(distances.argmin()), 'stn_name'],
        'Distance': float(distances.min())
    })

nearest_train_stations = pd.DataFrame(nearest_train_station_output)
nearest_train_stations

25544it [00:07, 3252.70it/s]

,Bus Service,Route Direction,Bus Stop Code,Description,Nearest Train Station,Distance
0,10,1,75009,Tampines Int,TAMPINES MRT STATION,83.128361
1,10,1,76059,Opp Our Tampines Hub,TAMPINES MRT STATION,176.842601
2,10,1,76069,Blk 147,TAMPINES WEST MRT STATION,544.757282
3,10,1,96289,Changi General Hosp,SIMEI MRT STATION,671.311993
4,10,1,96109,Opp Blk 3012,SIMEI MRT STATION,685.307682
...,...,...,...,...,...,...
25539,9B,1,95091,SAF Ferry Ter,CHANGI AIRPORT MRT STATION,3614.202233
25540,9B,1,95131,Police Pass Off,CHANGI AIRPORT MRT STATION,3418.887434
25541,9B,1,95141,Aft Cargo Bldg D,CHANGI AIRPORT MRT STATION,2951.221627
25542,9B,1,95061,Airline Hse,CHANGI AIRPORT MRT STATION,2486.380997
25543,9B,1,95051,3rd Cargo Agents,CHANGI AIRPORT MRT STATION,2241.673779

In [7]:
bus_stops_with_mrt = nearest_train_stations[nearest_train_stations['Distance'] < 150]
number_of_mrt = bus_stops_with_mrt.groupby(['Bus Service', 'Route Direction']).size().reset_index(name = 'Count')
number_of_mrt.sort_values('Count', ascending = False)

    Bus Service  Route Direction  Count
342          36                1     29
433          63                1     28
670        972M                1     27
344         36B                1     26
468          67                1     24
..          ...              ...    ...
383          46                1      1
533         84A                1      1
382         45A                1      1
369         403                1      1
487         70B                1      1

[710 rows x 3 columns]

In [65]:
# overlapping bus stops 
# overlap_counts = nearest_train_stations.groupby(['Bus Service', 'Route Direction']).size().reset_index(name='Count')
# overlap_counts_sorted = overlap_counts.sort_values('Count', ascending=False)
# overlap_counts_sorted.head()

    Bus Service  Route Direction  Count
497         70M                1    105
442          63                1    102
258          24                1    100
405          51                1     98
603          89                1     95

In [8]:
bus_stops_with_mrt[bus_stops_with_mrt['Bus Service'] == "960"]

,Bus Service,Route Direction,Bus Stop Code,Description,Nearest Train Station,Distance
22974,960,1,46009,Woodlands Int,WOODLANDS MRT STATION,35.596557
22977,960,1,46529,Opp Marsiling Stn,MARSILING MRT STATION,77.421508
22980,960,1,45139,Kranji Stn,KRANJI MRT STATION,15.169865
22995,960,1,44049,Opp Junction 10,BUKIT PANJANG MRT STATION,143.934563
22998,960,1,44201,Aft Petir Stn,PETIR LRT STATION,61.303639
23000,960,1,44221,Opp Pending Stn,PENDING LRT STATION,37.132028
23002,960,1,40239,BEF STEVENS STN EXIT 4,STEVENS MRT STATION,124.266423
23003,960,1,40089,AFT STEVENS STN EXIT 5,STEVENS MRT STATION,128.023128
23008,960,1,40049,Opp Newton Stn Exit C,NEWTON MRT STATION,81.009252
23012,960,1,40019,Little India Stn,LITTLE INDIA MRT STATION,25.982243
23013,960,1,07539,Bef Rochor Stn Exit B,ROCHOR MRT STATION,130.584972
23015,960,1,01059,Bugis Stn Exit B,BUGIS MRT STATION,25.341418
23016,960,1,01119,Aft Bugis Stn Exit C,BUGIS MRT STATION,76.470641
23018,960,1,02049,Raffles Hotel,ESPLANADE MRT STATION,143.652875
23023,960,2,04151,Cath Of The Good Shepherd,BRAS BASAH MRT STATION,108.212400
23025,960,2,01112,Opp Bugis Stn Exit C,BUGIS MRT STATION,54.864321
23027,960,2,07531,Rochor Stn,ROCHOR MRT STATION,35.725488
23028,960,2,40011,LITTLE INDIA STN EXIT A,LITTLE INDIA MRT STATION,56.768702
23032,960,2,40041,Newton Stn Exit C,NEWTON MRT STATION,19.924356
23036,960,2,40081,STEVENS STN EXIT 1,STEVENS MRT STATION,41.169683
23037,960,2,40231,Raffles Town Club,STEVENS MRT STATION,88.701152
23039,960,2,44229,Bef Pending Stn,PENDING LRT STATION,32.806635
23041,960,2,44209,Opp Petir Stn,PETIR LRT STATION,50.090523
23044,960,2,44041,Junction 10,BUKIT PANJANG MRT STATION,88.924656
23059,960,2,45131,Opp Kranji Stn,KRANJI MRT STATION,79.821579
23062,960,2,46521,Marsiling Stn,MARSILING MRT STATION,43.539660
23065,960,2,46009,Woodlands Int,WOODLANDS MRT STATION,35.596557

In [9]:
# import folium
# map_sg = folium.Map(location=[1.3521, 103.8198], zoom_start=12)


# for index, row in bus_volume_coordinates.iterrows():
#     origin = [row['Origin Latitude'], row['Origin Longitude']]
#     destination = [row['Destination Latitude'], row['Destination Longitude']]
#     volume = row['TOTAL_TRIPS']
#     folium.PolyLine(locations=[origin, destination], color='blue', weight=2).add_to(map_sg)
#     folium.CircleMarker(location=origin, radius=volume/1000, color='green', fill=True, fill_color='green').add_to(map_sg)
#     folium.CircleMarker(location=destination, radius=volume/1000, color='red', fill=True, fill_color='red').add_to(map_sg)

# # Display the map
# map_sg

KeyboardInterrupt:

In [10]:
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
from shapely.geometry import Point

def calculate_distance_to_mrt(bus_volume_coordinates, train_station_exits_gdf):
    # Bus origin points
    bus_origin_gdf = gpd.GeoDataFrame(bus_volume_coordinates, 
                                      geometry=gpd.points_from_xy(bus_volume_coordinates['Origin Longitude'], bus_volume_coordinates['Origin Latitude']),
                                      crs="EPSG:4326")
    bus_origin_gdf_3857 = bus_origin_gdf.to_crs(3857)
    train_station_exits_gdf_3857 = train_station_exits_gdf.to_crs(3857)
    
    score = []
    for i, row in tqdm(bus_origin_gdf_3857.iterrows(), total=bus_origin_gdf_3857.shape[0]):
        distances = train_station_exits_gdf_3857.distance(row['geometry'])
        min_distance = float(distances.min())
        nearest_station = train_station_exits_gdf_3857.loc[distances.idxmin(), 'stn_name']
        
        score.append({
            'ORIGIN_PT_CODE': row['ORIGIN_PT_CODE'],
            'Origin Latitude': row['Origin Latitude'],
            'Origin Longitude': row['Origin Longitude'],
            'Nearest MRT Station': nearest_station,
            'Distance to Nearest MRT': min_distance
        })
    
    return pd.DataFrame(score)

# Closer = higher score
def normalize(df, distance_col):
    max_distance = df[distance_col].max()
    df['Normalized Distance'] = 1 - (df[distance_col] / max_distance)  
    return df

# Incorporate Passenger volume (TOTAL_TRIPS)
def compute_weighted_overlap(bus_volume_coordinates, overlap_df, volume_col='TOTAL_TRIPS'):
    bus_overlap = pd.merge(bus_volume_coordinates, overlap_df, on='ORIGIN_PT_CODE')
    
    # Formula for weighted score
    bus_overlap['Weighted Overlap'] = bus_overlap['Normalized Distance'] * bus_overlap[volume_col]
    route_overlap_scores = bus_overlap.groupby(['ORIGIN_PT_CODE']).agg(
        total_overlap=pd.NamedAgg(column='Weighted Overlap', aggfunc='sum'),
        avg_overlap=pd.NamedAgg(column='Weighted Overlap', aggfunc='mean'),
        total_volume=pd.NamedAgg(column=volume_col, aggfunc='sum')
    ).reset_index()

    return route_overlap_scores

overlap_df = calculate_distance_to_mrt(bus_volume_coordinates, train_station_exits_gdf)
normalized_overlap_df = normalize(overlap_df, 'Distance to Nearest MRT')
route_overlap_scores = compute_weighted_overlap(bus_volume_coordinates, normalized_overlap_df)
sorted_routes = route_overlap_scores.sort_values(by='total_overlap', ascending=False)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5721503/5721503 [28:37<00:00, 3331.49it/s]

:

In [ ]:
# Passenger Volume
# Group bus_volume by the ORIGIN_PT_CODE and sum up to get the total number of trips for each bus stop.
bus_volume_each_stop = bus_volume.groupby('ORIGIN_PT_CODE')['TOTAL_TRIPS'].sum().reset_index()
bus_volume_each_stop.rename(columns={'ORIGIN_PT_CODE': 'BusStopCode_x', 'TOTAL_TRIPS': 'TotalBusTrips'}, inplace=True)

bus_volume_each_stop

In [ ]:
# Passenger Volume
# Group train_volume by the ORIGIN_PT_CODE and sum up to get the total number of trips for each train station.
train_volume_each_stn = train_volume.groupby('ORIGIN_PT_CODE')['TOTAL_TRIPS'].sum().reset_index()
train_volume_each_stn.rename(columns={'ORIGIN_PT_CODE': 'TrainStationCode', 'TOTAL_TRIPS': 'TotalTrainTrips'}, inplace=True)
train_volume_each_stn