In [2]:
%run lta_datamall_data.ipynb

In [4]:
%run nearest_mrt_station_to_bus_stops.ipynb

25548it [00:06, 4033.48it/s]

In [6]:
# mrt stations geodataframe
import os
os.environ['OGR_GEOMETRY_ACCEPT_UNCLOSED_RING'] = 'NO'

mrt_stations_gdf = geopandas.read_file('./TrainStation_Jul2024/RapidTransitSystemStation.shp')
mrt_stations_gdf_3857 = mrt_stations_gdf.to_crs(3857)
mrt_stations_gdf_3857

,TYP_CD,STN_NAM,ATTACHEMEN,TYP_CD_DES,STN_NAM_DE,geometry
0,0,None,None,MRT,GALI BATU DEPOT,"POLYGON ((11549880.181 155286.262, 11549893.09..."
1,0,None,None,MRT,HILLVIEW MRT STATION,"POLYGON ((11551320.421 151685.479, 11551324.86..."
2,0,None,None,MRT,BEAUTY WORLD MRT STATION,"POLYGON ((11552265.127 149269.279, 11552255.26..."
3,0,None,None,MRT,HUME MRT STATION,"POLYGON ((11551478.151 150855.083, 11551485.53..."
4,0,None,None,MRT,BUKIT PANJANG MRT STATION,"POLYGON ((11550666.118 153603.709, 11550698.62..."
...,...,...,...,...,...,...
225,0,None,None,MRT,KATONG PARK MRT STATION,"POLYGON ((11564432.509 144548.028, 11564447.75..."
226,0,None,None,MRT,MARINE TERRACE MRT STATION,"POLYGON ((11567908.523 145472.086, 11567908.42..."
227,0,None,None,MRT,TANJONG RHU MRT STATION,"POLYGON ((11563110.672 144334.178, 11563108.03..."
228,0,None,None,MRT,MARINE PARADE MRT STATION,"POLYGON ((11566600.443 144955.407, 11566582.69..."
229,0,None,None,MRT,FOUNDERS' MEMORIAL MRT STATION,"POLYGON ((11562591.609 143792.727, 11562595.94..."

# Brown Line

In [7]:
brown_line = ['WOODLANDS NORTH MRT STATION', 'WOODLANDS MRT STATION', 'WOODLANDS SOUTH MRT STATION',
              'SPRINGLEAF MRT STATION', 'LENTOR MRT STATION', 'MAYFLOWER MRT STATION',
              'BRIGHT HILL MRT STATION', 'UPPER THOMSON MRT STATION', 'CALDECOTT MRT STATION',
              'STEVENS MRT STATION', 'NAPIER MRT STATION', 'ORCHARD BOULEVARD MRT STATION',
              'ORCHARD MRT STATION', 'GREAT WORLD MRT STATION', 'HAVELOCK MRT STATION',
              'OUTRAM PARK MRT STATION', 'MAXWELL MRT STATION', 'SHENTON WAY MRT STATION',
              'MARINA BAY MRT STATION', 'GARDENS BY THE BAY MRT STATION', 'TANJONG RHU MRT STATION',
              'KATONG PARK MRT STATION', 'TANJONG KATONG MRT STATION', 'MARINE PARADE MRT STATION',
              'MARINE TERRACE MRT STATION', 'SIGLAP MRT STATION', 'BAYSHORE MRT STATION',
              'BEDOK SOUTH MRT STATION', 'SUNGEI BEDOK MRT STATION']

# filter brown line stations from mrt stations geodataframe
brown_line_stations_gdf = mrt_stations_gdf_3857[mrt_stations_gdf_3857['STN_NAM_DE'].isin(brown_line)]

# order brown line stations based on list
brown_line_stations_gdf['STN_NAM_DE'] = pd.Categorical(brown_line_stations_gdf['STN_NAM_DE'],
                                                       categories = brown_line,
                                                       ordered = True)
brown_line_stations_gdf = brown_line_stations_gdf.sort_values('STN_NAM_DE')
brown_line_stations_gdf

,TYP_CD,STN_NAM,ATTACHEMEN,TYP_CD_DES,STN_NAM_DE,geometry
192,0,None,None,MRT,WOODLANDS NORTH MRT STATION,"POLYGON ((11553290.504 161340.499, 11553308.78..."
196,0,None,None,MRT,WOODLANDS MRT STATION,"POLYGON ((11553655.571 159844.445, 11553714.07..."
177,0,None,None,MRT,WOODLANDS MRT STATION,"POLYGON ((11553305.733 159892.909, 11553302.44..."
191,0,None,None,MRT,WOODLANDS SOUTH MRT STATION,"POLYGON ((11554340.403 158819.168, 11554344.10..."
187,0,None,None,MRT,SPRINGLEAF MRT STATION,"POLYGON ((11556983.209 155700.488, 11556972.59..."
110,0,None,None,MRT,LENTOR MRT STATION,"POLYGON ((11559127.808 154037.405, 11559127.68..."
219,0,None,None,MRT,MAYFLOWER MRT STATION,"POLYGON ((11559099.098 152920.462, 11559094.58..."
186,0,None,None,MRT,BRIGHT HILL MRT STATION,"POLYGON ((11558731.827 151811.306, 11558686.82..."
217,0,None,None,MRT,UPPER THOMSON MRT STATION,"POLYGON ((11558480.214 150916.092, 11558483.67..."
218,0,None,None,MRT,CALDECOTT MRT STATION,"POLYGON ((11559462.068 148993.215, 11559463.61..."
109,0,None,CC17_CDT STN.zip,MRT,CALDECOTT MRT STATION,"POLYGON ((11559344.392 148875.759, 11559342.18..."
32,0,None,None,MRT,STEVENS MRT STATION,"POLYGON ((11557812.324 147000.057, 11557816.70..."
203,0,None,None,MRT,STEVENS MRT STATION,"POLYGON ((11557783.878 146982.248, 11557809.15..."
204,0,None,None,MRT,NAPIER MRT STATION,"POLYGON ((11557084.982 145522.798, 11557083.15..."
212,0,None,None,MRT,ORCHARD BOULEVARD MRT STATION,"POLYGON ((11557609.258 145103.847, 11557596.44..."
213,0,None,None,MRT,ORCHARD MRT STATION,"POLYGON ((11558441.870 145091.118, 11558443.04..."
104,0,None,None,MRT,ORCHARD MRT STATION,"POLYGON ((11558548.169 145071.964, 11558537.94..."
209,0,None,None,MRT,GREAT WORLD MRT STATION,"POLYGON ((11558678.291 144289.546, 11558665.64..."
202,0,None,None,MRT,HAVELOCK MRT STATION,"POLYGON ((11558703.693 143659.583, 11558718.50..."
201,0,None,None,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559308.372 142682.402, 11559298.43..."
84,0,None,C109_S_OTP_MAIN_A_R19_P2.zip,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559237.753 142695.209, 11559251.83..."
117,0,None,NE3_OTP STN.zip,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559350.232 142623.057, 11559353.15..."
210,0,None,None,MRT,MAXWELL MRT STATION,"POLYGON ((11559913.945 142605.655, 11559959.79..."
206,0,None,None,MRT,SHENTON WAY MRT STATION,"POLYGON ((11560637.091 142232.533, 11560638.12..."
64,0,None,CE2_MRB STN.zip,MRT,MARINA BAY MRT STATION,"POLYGON ((11561070.528 141987.904, 11561054.72..."
200,0,None,None,MRT,MARINA BAY MRT STATION,"POLYGON ((11561017.163 142126.143, 11561004.19..."
115,0,None,None,MRT,MARINA BAY MRT STATION,"POLYGON ((11561039.437 141991.719, 11561036.58..."
211,0,None,None,MRT,MARINA BAY MRT STATION,"POLYGON ((11561104.449 141953.568, 11561129.46..."
208,0,None,None,MRT,GARDENS BY THE BAY MRT STATION,"POLYGON ((11562517.349 142416.142, 11562517.16..."
227,0,None,None,MRT,TANJONG RHU MRT STATION,"POLYGON ((11563110.672 144334.178, 11563108.03..."
225,0,None,None,MRT,KATONG PARK MRT STATION,"POLYGON ((11564432.509 144548.028, 11564447.75..."
224,0,None,None,MRT,TANJONG KATONG MRT STATION,"POLYGON ((11565796.023 144618.481, 11565798.11..."
222,0,None,None,MRT,MARINE PARADE MRT STATION,"POLYGON ((11566865.980 145173.875, 11566857.52..."
228,0,None,None,MRT,MARINE PARADE MRT STATION,"POLYGON ((11566600.443 144955.407, 11566582.69..."
226,0,None,None,MRT,MARINE TERRACE MRT STATION,"POLYGON ((11567908.523 145472.086, 11567908.42..."
220,0,None,None,MRT,SIGLAP MRT STATION,"POLYGON ((11569421.424 145813.022, 11569353.34..."
221,0,None,None,MRT,BAYSHORE MRT STATION,"POLYGON ((11571007.301 146270.809, 11570994.34..."
223,0,None,None,MRT,BAYSHORE MRT STATION,"POLYGON ((11570638.385 146230.609, 11570633.54..."

In [8]:
# ordered list of brown line station coordinates
brown_line_stations_gdf['coordinates'] = brown_line_stations_gdf['geometry'].centroid
brown_line_stations_gdf

# create a linestring for the brown line route
from shapely.geometry import LineString
brown_line_route = LineString(brown_line_stations_gdf['coordinates'])

In [9]:
from shapely.geometry import LineString

# combine bus routes
bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()
bus_routes_combined.columns = ['ServiceNo', 'Direction', 'geometry']
bus_routes_combined

/var/folders/hy/5xrxtq_s4sl7k0tmmd7ty9mw0000gn/T/ipykernel_23872/1680479668.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()

    ServiceNo  Direction                                           geometry
0          10          1  LINESTRING (11570925.355747303 150749.03122670...
1          10          2  LINESTRING (11551610.561061133 144087.88490860...
2         100          1  LINESTRING (11562943.630025776 150347.12028417...
3         100          2  LINESTRING (11553774.516701924 145960.08849871...
4        100A          1  LINESTRING (11562943.630025776 150347.12028417...
..        ...        ...                                                ...
719       992          1  LINESTRING (11549515.381030776 150294.50067879...
720       992          2  LINESTRING (11547835.02338783 151709.373424986...
721       993          1  LINESTRING (11548357.891036088 148329.89223418...
722        9A          1  LINESTRING (11569327.609406518 147460.11332459...
723        9B          1  LINESTRING (11572046.913672755 149433.61637057...

[724 rows x 3 columns]

In [10]:
# calculate the overlapping distance of each bus route and the brown line
buffer_distance = 150
buffered_brown_line = brown_line_route.buffer(buffer_distance)

overlap_distance_output = []

for i, route in tqdm(bus_routes_combined.iterrows()):
    overlap = buffered_brown_line.intersection(route.geometry)
    if overlap.is_empty:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': 0
            })
    else:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': overlap.length
            })

overlap_distance = pd.DataFrame(overlap_distance_output)
overlap_distance

724it [00:00, 9154.80it/s]

    Bus Service  Direction  Overlap Distance
0            10          1        303.158745
1            10          2        304.681655
2           100          1        303.158745
3           100          2        305.338292
4          100A          1          0.000000
..          ...        ...               ...
719         992          1          0.000000
720         992          2          0.000000
721         993          1          0.000000
722          9A          1          0.000000
723          9B          1          0.000000

[724 rows x 3 columns]

In [11]:
# filter bus routes with overlap
bus_routes_overlap = overlap_distance[overlap_distance['Overlap Distance'] > 0].sort_values(by = 'Overlap Distance', ascending = False)
bus_routes_overlap

    Bus Service  Direction  Overlap Distance
349          36          1      13497.671113
351         36B          1      11775.414400
392          47          1       6834.465678
225        196e          1       6707.001743
350         36A          1       6150.759588
..          ...        ...               ...
184        178A          1        125.862879
183         178          2        124.004316
619        911A          1        104.939940
552        851e          1         46.125602
109        147A          1         46.125602

[321 rows x 3 columns]

# Blue Line

In [12]:
blue_line = [
    'SUNGEI KADUT MRT STATION', 'BUKIT PANJANG MRT STATION', 'CASHEW MRT STATION', 'HILLVIEW MRT STATION', 'HUME MRT STATION', 'BEAUTY WORLD MRT STATION', 'KING ALBERT PARK MRT STATION', 
    'SIXTH AVENUE MRT STATION', 'TAN KAH KEE MRT STATION', 'BOTANIC GARDENS MRT STATION', 'STEVENS MRT STATION', 'NEWTON MRT STATION', 
    'LITTLE INDIA MRT STATION', 'ROCHOR MRT STATION', 'BUGIS MRT STATION', 'PROMENADE MRT STATION', 'BAYFRONT MRT STATION', 'DOWNTOWN MRT STATION', 'TELOK AYER MRT STATION', 
    'CHINATOWN MRT STATION', 'FORT CANNING MRT STATION', 'BENCOOLEN MRT STATION', 'JALAN BESAR MRT STATION', 'BENDEMEER MRT STATION', 
    'GEYLANG BAHRU MRT STATION', 'MATTAR MRT STATION', 'MACPHERSON MRT STATION', 'UBI MRT STATION', 'KAKI BUKIT MRT STATION', 'BEDOK NORTH MRT STATION', 
    'BEDOK RESERVOIR MRT STATION', 'TAMPINES WEST MRT STATION', 'TAMPINES MRT STATION', 'TAMPINES EAST MRT STATION', 'UPPER CHANGI MRT STATION', 'EXPO MRT STATION'
]

# filter brown line stations from mrt stations geodataframe
blue_line_stations_gdf = mrt_stations_gdf_3857[mrt_stations_gdf_3857['STN_NAM_DE'].isin(blue_line)]

# order brown line stations based on list
blue_line_stations_gdf['STN_NAM_DE'] = pd.Categorical(blue_line_stations_gdf['STN_NAM_DE'],
                                                       categories = blue_line,
                                                       ordered = True)
blue_line_stations_gdf = blue_line_stations_gdf.sort_values('STN_NAM_DE')
blue_line_stations_gdf

,TYP_CD,STN_NAM,ATTACHEMEN,TYP_CD_DES,STN_NAM_DE,geometry
4,0,None,None,MRT,BUKIT PANJANG MRT STATION,"POLYGON ((11550666.118 153603.709, 11550698.62..."
5,0,None,None,MRT,CASHEW MRT STATION,"POLYGON ((11551010.357 152545.896, 11551024.66..."
1,0,None,None,MRT,HILLVIEW MRT STATION,"POLYGON ((11551320.421 151685.479, 11551324.86..."
3,0,None,None,MRT,HUME MRT STATION,"POLYGON ((11551478.151 150855.083, 11551485.53..."
2,0,None,None,MRT,BEAUTY WORLD MRT STATION,"POLYGON ((11552265.127 149269.279, 11552255.26..."
67,0,None,None,MRT,KING ALBERT PARK MRT STATION,"POLYGON ((11553177.948 148708.332, 11553217.08..."
33,0,None,None,MRT,SIXTH AVENUE MRT STATION,"POLYGON ((11554594.564 148204.756, 11554598.90..."
216,0,None,None,MRT,TAN KAH KEE MRT STATION,"POLYGON ((11555673.915 147692.277, 11555708.09..."
125,0,None,None,MRT,BOTANIC GARDENS MRT STATION,"POLYGON ((11556730.423 147258.342, 11556757.97..."
108,0,None,CC19_BTN STN.zip,MRT,BOTANIC GARDENS MRT STATION,"POLYGON ((11556592.183 147107.790, 11556577.02..."
32,0,None,None,MRT,STEVENS MRT STATION,"POLYGON ((11557812.324 147000.057, 11557816.70..."
203,0,None,None,MRT,STEVENS MRT STATION,"POLYGON ((11557783.878 146982.248, 11557809.15..."
112,0,None,None,MRT,NEWTON MRT STATION,"POLYGON ((11559141.244 146029.212, 11559129.33..."
167,0,None,None,MRT,NEWTON MRT STATION,"POLYGON ((11559262.161 146203.068, 11559266.61..."
68,0,None,None,MRT,LITTLE INDIA MRT STATION,"POLYGON ((11560316.352 145570.701, 11560318.56..."
89,0,None,NE7_LTI STN.zip,MRT,LITTLE INDIA MRT STATION,"POLYGON ((11560413.038 145370.024, 11560470.54..."
69,0,None,None,MRT,ROCHOR MRT STATION,"POLYGON ((11560865.734 145197.301, 11560865.51..."
156,0,None,None,MRT,BUGIS MRT STATION,"POLYGON ((11561380.492 144536.847, 11561377.30..."
83,0,None,C301A_S_BGS_MAIN_A_R19_P2.zip,MRT,BUGIS MRT STATION,"POLYGON ((11561117.325 144671.825, 11561108.96..."
126,0,None,None,MRT,PROMENADE MRT STATION,"POLYGON ((11561725.013 144035.618, 11561732.57..."
76,0,None,CC4_PMN STN.zip,MRT,PROMENADE MRT STATION,"POLYGON ((11561749.024 144127.673, 11561774.92..."
99,0,None,None,MRT,BAYFRONT MRT STATION,"POLYGON ((11561461.428 142616.067, 11561497.76..."
170,0,None,None,MRT,DOWNTOWN MRT STATION,"POLYGON ((11560791.152 142451.968, 11560797.06..."
179,0,None,None,MRT,TELOK AYER MRT STATION,"POLYGON ((11560253.727 142793.695, 11560266.90..."
169,0,None,None,MRT,CHINATOWN MRT STATION,"POLYGON ((11559751.172 143121.613, 11559752.03..."
92,0,None,NE4_CNT STN.zip,MRT,CHINATOWN MRT STATION,"POLYGON ((11559695.295 142864.198, 11559671.98..."
94,0,None,None,MRT,FORT CANNING MRT STATION,"POLYGON ((11559850.531 143853.090, 11559849.74..."
93,0,None,None,MRT,BENCOOLEN MRT STATION,"POLYGON ((11560448.956 144464.408, 11560442.42..."
97,0,None,None,MRT,JALAN BESAR MRT STATION,"POLYGON ((11561097.782 145255.815, 11561076.36..."
172,0,None,None,MRT,BENDEMEER MRT STATION,"POLYGON ((11561891.820 146236.143, 11561957.84..."
171,0,None,None,MRT,GEYLANG BAHRU MRT STATION,"POLYGON ((11562901.907 147107.273, 11562944.33..."
98,0,None,None,MRT,MATTAR MRT STATION,"POLYGON ((11564156.892 147735.796, 11564172.62..."
39,0,None,CC10_MPS STN.zip,MRT,MACPHERSON MRT STATION,"POLYGON ((11564984.421 147762.740, 11565009.65..."
189,0,None,None,MRT,MACPHERSON MRT STATION,"POLYGON ((11564805.740 147521.951, 11564804.08..."
181,0,None,None,MRT,UBI MRT STATION,"POLYGON ((11565941.773 148055.245, 11565985.04..."
95,0,None,None,MRT,KAKI BUKIT MRT STATION,"POLYGON ((11567109.583 148647.732, 11567105.32..."
102,0,None,None,MRT,BEDOK NORTH MRT STATION,"POLYGON ((11568235.960 148526.885, 11568207.39..."
103,0,None,None,MRT,BEDOK RESERVOIR MRT STATION,"POLYGON ((11569569.134 148831.286, 11569748.84..."
26,0,None,None,MRT,TAMPINES WEST MRT STATION,"POLYGON ((11570351.513 149790.978, 11570353.81..."
27,0,None,None,MRT,TAMPINES MRT STATION,"POLYGON ((11571164.394 150577.160, 11571131.41..."
96,0,None,None,MRT,TAMPINES MRT STATION,"POLYGON ((11570846.566 150813.451, 11570821.24..."
28,0,None,None,MRT,TAMPINES EAST MRT STATION,"POLYGON ((11572232.918 150930.267, 11572232.84..."
178,0,None,None,MRT,UPPER CHANGI MRT STATION,"POLYGON ((11572972.936 149532.939, 11573003.92..."
40,0,None,C504_S_CGA_MAIN_A_R19_P2.zip,MRT,EXPO MRT STATION,"POLYGON ((11572969.696 148589.449, 11572969.69..."
130,0,None,None,MRT,EXPO MRT STATION,"POLYGON ((11572896.654 148470.542, 11572873.05..."

In [13]:
# ordered list of blue line station coordinates
blue_line_stations_gdf['coordinates'] = blue_line_stations_gdf['geometry'].centroid
blue_line_stations_gdf

# create a linestring for the blue line route
from shapely.geometry import LineString
blue_line_route = LineString(blue_line_stations_gdf['coordinates'])

In [14]:
from shapely.geometry import LineString

# combine bus routes
bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()
bus_routes_combined.columns = ['ServiceNo', 'Direction', 'geometry']
bus_routes_combined

/var/folders/hy/5xrxtq_s4sl7k0tmmd7ty9mw0000gn/T/ipykernel_23872/1680479668.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()

    ServiceNo  Direction                                           geometry
0          10          1  LINESTRING (11570925.355747303 150749.03122670...
1          10          2  LINESTRING (11551610.561061133 144087.88490860...
2         100          1  LINESTRING (11562943.630025776 150347.12028417...
3         100          2  LINESTRING (11553774.516701924 145960.08849871...
4        100A          1  LINESTRING (11562943.630025776 150347.12028417...
..        ...        ...                                                ...
719       992          1  LINESTRING (11549515.381030776 150294.50067879...
720       992          2  LINESTRING (11547835.02338783 151709.373424986...
721       993          1  LINESTRING (11548357.891036088 148329.89223418...
722        9A          1  LINESTRING (11569327.609406518 147460.11332459...
723        9B          1  LINESTRING (11572046.913672755 149433.61637057...

[724 rows x 3 columns]

In [15]:
# calculate the overlapping distance of each bus route and the blue line
buffer_distance = 150
buffered_blue_line = blue_line_route.buffer(buffer_distance)

overlap_distance_output = []

for i, route in tqdm(bus_routes_combined.iterrows()):
    overlap = buffered_blue_line.intersection(route.geometry)
    if overlap.is_empty:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': 0
            })
    else:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': overlap.length
            })

overlap_distance_blue = pd.DataFrame(overlap_distance_output)
overlap_distance_blue

724it [00:00, 7803.90it/s]

    Bus Service  Direction  Overlap Distance
0            10          1       1085.722634
1            10          2       1091.514007
2           100          1        914.021723
3           100          2        914.707723
4          100A          1        304.650635
..          ...        ...               ...
719         992          1          0.000000
720         992          2          0.000000
721         993          1          0.000000
722          9A          1       1183.825625
723          9B          1       1183.825625

[724 rows x 3 columns]

In [16]:
# filter bus routes with overlap with blue line
bus_routes_overlap_blue = overlap_distance_blue[overlap_distance_blue['Overlap Distance'] > 0].sort_values(by = 'Overlap Distance', ascending = False)
bus_routes_overlap_blue

    Bus Service  Direction  Overlap Distance
478          67          2      16091.462313
477          67          1      14353.211924
164         170          1      13688.136207
252          23          1      12961.825736
165         170          2      12815.664331
..          ...        ...               ...
53          123          2        191.817440
63         129A          1         30.953370
629         920          1         10.275598
630         922          1         10.275598
684        973A          1          3.775807

[385 rows x 3 columns]

# Purple Line

In [17]:
purple_line = [
    'HARBOURFRONT MRT STATION',
    'OUTRAM PARK MRT STATION',
    'CHINATOWN MRT STATION',
    'CLARKE QUAY MRT STATION',
    'DHOBY GHAUT MRT STATION',
    'LITTLE INDIA MRT STATION',
    'FARRER PARK MRT STATION',
    'BOON KENG MRT STATION',
    'POTONG PASIR MRT STATION',
    'WOODLEIGH MRT STATION',
    'SERANGOON MRT STATION',
    'KOVAN MRT STATION',
    'HOUGANG MRT STATION',
    'BUANGKOK MRT STATION',
    'SENGKANG MRT STATION',
    'PUNGGOL MRT STATION'
]


# filter purple line stations from mrt stations geodataframe
purple_line_stations_gdf = mrt_stations_gdf_3857[mrt_stations_gdf_3857['STN_NAM_DE'].isin(purple_line)]

# order purple line stations based on list
purple_line_stations_gdf['STN_NAM_DE'] = pd.Categorical(purple_line_stations_gdf['STN_NAM_DE'],
                                                       categories = purple_line,
                                                       ordered = True)
purple_line_stations_gdf = purple_line_stations_gdf.sort_values('STN_NAM_DE')
purple_line_stations_gdf

,TYP_CD,STN_NAM,ATTACHEMEN,TYP_CD_DES,STN_NAM_DE,geometry
157,0,None,CC29_HBF STN.zip,MRT,HARBOURFRONT MRT STATION,"POLYGON ((11557408.287 140823.192, 11557327.29..."
63,0,None,NE1_HBF STN.zip,MRT,HARBOURFRONT MRT STATION,"POLYGON ((11557256.560 140840.359, 11557256.27..."
201,0,None,None,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559308.372 142682.402, 11559298.43..."
117,0,None,NE3_OTP STN.zip,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559350.232 142623.057, 11559353.15..."
84,0,None,C109_S_OTP_MAIN_A_R19_P2.zip,MRT,OUTRAM PARK MRT STATION,"POLYGON ((11559237.753 142695.209, 11559251.83..."
169,0,None,None,MRT,CHINATOWN MRT STATION,"POLYGON ((11559751.172 143121.613, 11559752.03..."
92,0,None,NE4_CNT STN.zip,MRT,CHINATOWN MRT STATION,"POLYGON ((11559695.295 142864.198, 11559671.98..."
91,0,None,NE5_CQY STN.zip,MRT,CLARKE QUAY MRT STATION,"POLYGON ((11560054.558 143242.668, 11560050.58..."
6,0,None,None,MRT,DHOBY GHAUT MRT STATION,"POLYGON ((11559965.996 144666.945, 11560032.60..."
90,0,None,NE6_DBG STN.zip,MRT,DHOBY GHAUT MRT STATION,"POLYGON ((11560057.669 144610.631, 11560099.83..."
100,0,None,None,MRT,DHOBY GHAUT MRT STATION,"POLYGON ((11560057.669 144610.631, 11560048.94..."
89,0,None,NE7_LTI STN.zip,MRT,LITTLE INDIA MRT STATION,"POLYGON ((11560413.038 145370.024, 11560470.54..."
68,0,None,None,MRT,LITTLE INDIA MRT STATION,"POLYGON ((11560316.352 145570.701, 11560318.56..."
88,0,None,NE8_FRP STN.zip,MRT,FARRER PARK MRT STATION,"POLYGON ((11560881.736 145993.870, 11560876.60..."
87,0,None,NE9_BNK STN.zip,MRT,BOON KENG MRT STATION,"POLYGON ((11561722.030 146716.637, 11561715.09..."
152,0,None,NE10_PTP STN.zip,MRT,POTONG PASIR MRT STATION,"POLYGON ((11562646.028 148090.874, 11562618.78..."
151,0,None,NE11_WHL STN.zip,MRT,WOODLEIGH MRT STATION,"POLYGON ((11562847.682 148988.110, 11562823.98..."
150,0,None,NE12_SER STN.zip,MRT,SERANGOON MRT STATION,"POLYGON ((11563115.251 150151.124, 11563102.32..."
23,0,None,CC13_SER STN.zip,MRT,SERANGOON MRT STATION,"POLYGON ((11562917.636 150381.805, 11562911.54..."
149,0,None,NE13_KVN STN.zip,MRT,KOVAN MRT STATION,"POLYGON ((11564365.429 151340.538, 11564350.44..."
148,0,None,NE14_HGN STN.zip,MRT,HOUGANG MRT STATION,"POLYGON ((11565259.766 152541.608, 11565242.06..."
120,0,None,NE15_BGK STN.zip,MRT,BUANGKOK MRT STATION,"POLYGON ((11565320.289 153820.460, 11565296.66..."
119,0,None,NE16_SKG STN.zip,MRT,SENGKANG MRT STATION,"POLYGON ((11565538.374 154827.234, 11565604.29..."
118,0,None,NE17_PGL STN.zip,MRT,PUNGGOL MRT STATION,"POLYGON ((11566268.939 156292.285, 11566286.10..."

In [18]:
# ordered list of purple line station coordinates
purple_line_stations_gdf['coordinates'] = purple_line_stations_gdf['geometry'].centroid
purple_line_stations_gdf

# create a linestring for the purple line route
from shapely.geometry import LineString
purple_line_route = LineString(purple_line_stations_gdf['coordinates'])

In [19]:
from shapely.geometry import LineString

# combine bus routes
bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()
bus_routes_combined.columns = ['ServiceNo', 'Direction', 'geometry']
bus_routes_combined

/var/folders/hy/5xrxtq_s4sl7k0tmmd7ty9mw0000gn/T/ipykernel_23872/1680479668.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  bus_routes_combined = bus_routes_gdf_3857.groupby(['ServiceNo', 'Direction']).apply(lambda x: LineString(x.geometry.tolist())).reset_index()

    ServiceNo  Direction                                           geometry
0          10          1  LINESTRING (11570925.355747303 150749.03122670...
1          10          2  LINESTRING (11551610.561061133 144087.88490860...
2         100          1  LINESTRING (11562943.630025776 150347.12028417...
3         100          2  LINESTRING (11553774.516701924 145960.08849871...
4        100A          1  LINESTRING (11562943.630025776 150347.12028417...
..        ...        ...                                                ...
719       992          1  LINESTRING (11549515.381030776 150294.50067879...
720       992          2  LINESTRING (11547835.02338783 151709.373424986...
721       993          1  LINESTRING (11548357.891036088 148329.89223418...
722        9A          1  LINESTRING (11569327.609406518 147460.11332459...
723        9B          1  LINESTRING (11572046.913672755 149433.61637057...

[724 rows x 3 columns]

In [20]:
# calculate the overlapping distance of each bus route and the purple line
buffer_distance = 150
buffered_purple_line = purple_line_route.buffer(buffer_distance)

overlap_distance_output = []

for i, route in tqdm(bus_routes_combined.iterrows()):
    overlap = buffered_purple_line.intersection(route.geometry)
    if overlap.is_empty:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': 0
            })
    else:
        overlap_distance_output.append({
            'Bus Service': route['ServiceNo'],
            'Direction': route['Direction'],
            'Overlap Distance': overlap.length
            })

overlap_distance_purple = pd.DataFrame(overlap_distance_output)
overlap_distance_purple

724it [00:00, 7289.87it/s]

    Bus Service  Direction  Overlap Distance
0            10          1        595.777236
1            10          2        636.280118
2           100          1       1981.580285
3           100          2       1628.347311
4          100A          1       1385.803049
..          ...        ...               ...
719         992          1          0.000000
720         992          2          0.000000
721         993          1          0.000000
722          9A          1          0.000000
723          9B          1          0.000000

[724 rows x 3 columns]

In [21]:
# filter bus routes with overlap with purple line
bus_routes_overlap_purple = overlap_distance_purple[overlap_distance_purple['Overlap Distance'] > 0].sort_values(by = 'Overlap Distance', ascending = False)
bus_routes_overlap_purple

    Bus Service  Direction  Overlap Distance
19         107M          1      11014.797338
108         147          2       7635.060619
5           101          1       6218.377800
539          82          1       6197.415788
18          107          2       5808.077146
..          ...        ...               ...
310           3          1        100.239040
12          105          2         73.741523
22         109A          1         71.285963
8          102B          1         70.896183
11          105          1         63.464693

[377 rows x 3 columns]